/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 *  require_tree .
 */

/* line 13, /var/www/tests/rails4/TestCompass/app/assets/stylesheets/style.css.scss */
html {
  background: url(/images/bckg.jpg);
}

/* line 16, /var/www/tests/rails4/TestCompass/app/assets/stylesheets/style.css.scss */
body {
  width: 1000px;
  margin: 0 auto;
  -webkit-box-shadow: 0px 0px 32px -5px black;
  -moz-box-shadow: 0px 0px 32px -5px black;
  box-shadow: 0px 0px 32px -5px black;
  background: #ff0001;
}
