@import "compass";
//@import "foundation/variables";
$my_orange: #ffcc00;
$green: rgb(51,153,50);
$body-bg: #F4F4F4;
$body-font-color: #7B7B7B;
$primary-color: #999;
$secondary-color: #0CC;
$dark-color: #393939;
$block-container-border-color: rgb(218,218,218);
$block-container-shadow-color: rgb(208,208,208);
// main background

html{
  background: $my_orange;
}

body{
  width:1000px;
  margin:0 auto;
  padding: 20px;
  @include box-shadow(0px 0px 32px -5px #000);
}